// $radius:           0.2em ;
// $border:           1px solid #ddd ;
// $boxShadow:        2px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
// $responsiveLarge:  900px ;
// $responsiveMedium: 400px ;

/*======================================*/
/*=              Colors                =*/
/*======================================*/

/*Default color*/
// $red:                         #c81111;
// $yellow:                      #c9c817;
$green:                       #2FA242;
// $blue:                        #3A49C1;
 $lightgrey:                   #eeeeee;
$darkgrey:                    #303030;
$white:                       #ffffff ;
// $black:                       #000000 ;
// $grey:                        #797979 ;
// $orange:                      #ef6c00 ;
// $defaultLightBackgroundColor: #E5E5E5 ;

// $primaryColorDark:            $green;
// $primaryColor:                darken($primaryColorDark,5);

$accentColor:            $green ;
$accentInvert:           $white  ;

$boxShadowColor:         $darkgrey;

/*======================================*/
/*=              Buttons               =*/
/*======================================*/

/*Color*/
// $buttonNormalBg:            #F0F0F0 ;
// $buttonNormalColor:         $black ;

// $buttonRedBg:               $red ;
// $buttonRedColor:            $white ;

// $buttonGreenBg:             $green ;
// $buttonGreenColor:          $white ;

// $buttonBlueBg:              $blue ;
// $buttonBlueColor:           $white ;

// $buttonLightGreyBg:         $lightgrey ;
// $buttonLightGreyColor:      $white ;

// $buttonYellowBg:            $yellow ;
// $buttonYellowColor:         $white ;

// $buttonAccentBg:            $accentColor ;
// $buttonAccentColor:         $accentInvert ;


/*Size*/
// $btn-sm-size:               0.8em ;
// $btn-sm-lineHeight:         1.8em ;
// $btn-sm-paddingLeft:        5px ;
// $btn-sm-paddingRight:       5px ;

// $btn-lg-size:               1.2em ;
// $btn-lg-lineHeight:         2.2em ;
// $btn-lg-paddingLeft:        15px ;
// $btn-lg-paddingRight:       15px ;

// $btn-x-lg-width:            100% ;




/*======================================*/
/*=       Code, quotes, kbd            =*/
/*======================================*/


/*codes*/
// $codeColor:               #303030 ;
// $codeLineHeight:          1.2em;
// $codeRadius:              $radius ;
// $codeBorder:              $border ;
// $codeBoxShadow:           $boxShadow ;

/*quotes*/
// $quoteBeforeColor:        #DDDDDD ;
// $quoteLineHeight:         1.2em ;
// $quoteFontSize:           4em ;
// $spaceBeetweenQuoteText:  1rem ;
// $spaceBeetweenTextAuthor: 20px ;
// $quoteRadius:             $radius ;
// $quoteBorder:             $border ;
// $quoteBoxShadow:          $boxShadow ;
// $quoteContent:            open-quote ;

/*result*/
// $resultBorder:            $border ;
// $resultBoxShadow:         $boxShadow ;
// $resultRadius:            $radius ;
// $resultRadius:            $radius ;

/*kbd*/
// $kbdBorderSize:           2px ;
// $kbdLineHeight:           2.4em ;
// $kbdPadding:              4px ;
// $kbdColor:                #252525 ;
// $kbdFontSize:             0.8em ;
// $kbdBg:                   $white ;
// $kbdBorderColor:          #999 ;
// $kbdHoverBg:              #FAFAFA ;
// $kbdHoverColor:           #222 ;





/*======================================*/
/*=             Components             =*/
/*======================================*/

/*Header*/
// $headerBg:                  $defaultLightBackgroundColor ;
$headerColor:                  $white ;
$headerSmallColor:             $lightgrey ;
$headerPaddingLeftRight:       10% ;
$headerPaddingTopBottom:       10% ;

/*Jumbotron*/
// $jumbotronBg:               $defaultLightBackgroundColor ;
 $jumbotronPaddingLeftRight: 10% ;
 $jumbotronPaddingTopBottom: 5% ;

/*Progressionbar*/
// $progressionbarHeight:      10px                  ;
// $progressionbarPadding:     4px                    ;
// $progressionbarRadiusInt:   $progressionbarHeight/2 ;
// $progressionbarRadiusExt:   $progressionbarRadiusInt + $progressionbarPadding ;
// $progressionDefaultBackground: $grey ;
// $progressionRedBackground:  $red                  ;
// $progressionYellowBackground:    $yellow ;
// $progressionGreenBackground:   $green ;
// $progressionBlueBackground:  $blue ;
// $progressionAccentBackground:$accentColor;
/*timeline*/
// $timelineArrowWidth:             20px ;
// $timelineArrowHeight:            20px ;
// $timelineDescriptionPaddingLeft: 10px ;
// $timelinePaddingTop:             10px ;
// $timelineDescriptionBg:          #f5f5f6 ;
// $timelineDescriptionColor:       $black ;
// $timelineTimeBg:                 $accentColor ;
// $timelineTimeColor:              $white ;



/*======================================*/
/*=             Grids                  =*/
/*======================================*/

/*Grids*/
// $gutter:  2% ;
// $numbCol: 12 ;




/*======================================*/
/*=             Listes                 =*/
/*======================================*/

/*Listes*/
// $listMargin: 2em ;




/*======================================*/
/*=              Navigation            =*/
/*======================================*/

/*Navbar*/
$navbarBackgroundColor:     $accentColor;
$navbarColor:               $accentInvert;
// $navbarPadding:             1em ;
 $navbarActive:              5px ;
// $navbarMedium:              $responsiveMedium ;
// $navbarLarge:               $responsiveLarge ;
// $navbarHeight:              50px ;
//$navbarLogoWidth:            20% ;

/*Breadcrumb*/
// $breadcrumbBackgroundColor: $defaultLightBackgroundColor ;
// $breadcrumbColor:           #404040 ;
// $breadcrumbContent:         ">" ;
// $breadcrumbMargin:          10px ;
// $breadcrumbPadding:         5px ;

/*Paginition*/
// $paginationBackground:      $defaultLightBackgroundColor ;
// $paginationPadding:         10px ;




/*======================================*/
/*=              Tables                =*/
/*======================================*/

/*Table*/
// $tableEven:        $lightgrey ;
// $tableHoverBg:     #3B95FF ;
// $tableHoverColor:  $white ;
// $tableBorderSize:  1px ;
// $tableBorderColor: $black ;
// $tablePadding:     8px ;
// $tableBorderType:  solid ;
// $tableHeaderBg:    $white ;
// $tableHeaderColor: $black ;



/*======================================*/
/*=              Tables                =*/
/*======================================*/

/*Titres*/
// $titleSizeMax:          2.5em ;
// $titleSizeMin:          1.25em ;
// $titleMargin:           15px ;

/*Sous titres*/
// $smallFontSize:         12px ;
// $smallColor:            $grey ;

/*Paragraphes*/
// $paragraphMarginBottom: 10px ;

/*Mark*/
// $markBg:                $grey ;
