@import "../bower_components/eCSSpress/dist/scss/reset";
@import "variablesCustom";
@import "../bower_components/eCSSpress/dist/scss/variables";

@import "../bower_components/eCSSpress/dist/scss/mixins";

@import "../bower_components/eCSSpress/dist/scss/grid";
@import "../bower_components/eCSSpress/dist/scss/typos";
@import "../bower_components/eCSSpress/dist/scss/code";
@import "../bower_components/eCSSpress/dist/scss/lists";
@import "../bower_components/eCSSpress/dist/scss/tables";
@import "../bower_components/eCSSpress/dist/scss/buttons";
@import "../bower_components/eCSSpress/dist/scss/components";
@import "../bower_components/eCSSpress/dist/scss/navigation";
@import "../bower_components/eCSSpress/dist/scss/formulaire";

.header{
  @extend %header;
  background-size: cover;
  h1{
    width: 100%;
  }
  background-image: url('../ressources/img/commands/header.jpg');
}

.mainContainer{
	margin-top: 50px;
	img{
		width: 100%;
	}
}
h2{
  color: $accentColor;
}

.form{@extend %formulaire;}

.totalCommand{
	background-color: $accentColor;
	color: $accentInvert;
	padding: 10px;
}
.btn{
  @extend %btn;
	@include colorizeButton($buttonNormalBg,$buttonNormalColor);
}

.btn-x-lg{@extend %btn-x-lg;}
.btn-red{@include colorizeButton($buttonRedBg,$buttonRedColor);}
.btn-accent{@include colorizeButton($buttonAccentBg,$buttonAccentColor);}

.alerte-information{@include make-alerte($alerteInformationBg,$alerteInformationColor);}


/* Construction de la grille */
@for $cols from 1 through $numbCol {
    .span-#{$cols}-flex{@include make-col-flex($cols);}
}
@for $cols from 1 through $numbCol {
    .offset-#{$cols}-flex{@include make-offset-flex($cols);}
}
.row-flex{@extend %row-flex;}

/* Construction de la navbar */
.navbar{
  @extend %navbar;
  .logo{@extend %logo;}
}
.disabled{@extend %disabled;}
.active{@extend %active;}

.breadcrumb{@extend %breadcrumb;}

.align-center{@extend %align-center};
.align-right{@extend %align-right};
