@import "../bower_components/eCSSpress/dist/scss/reset";
@import "variablesCustom";
@import "../bower_components/eCSSpress/dist/scss/variables";

@import "../bower_components/eCSSpress/dist/scss/mixins";

@import "../bower_components/eCSSpress/dist/scss/grid";
@import "../bower_components/eCSSpress/dist/scss/typos";
@import "../bower_components/eCSSpress/dist/scss/code";
@import "../bower_components/eCSSpress/dist/scss/lists";
@import "../bower_components/eCSSpress/dist/scss/tables";
@import "../bower_components/eCSSpress/dist/scss/buttons";
@import "../bower_components/eCSSpress/dist/scss/components";
@import "../bower_components/eCSSpress/dist/scss/navigation";
@import "../bower_components/eCSSpress/dist/scss/formulaire";

h1{
  color: $accentColor;
}

img {
  width: 100%;
  height: auto;
}
select {
  width: 100%;
}

.btn-accent{
  @include colorizeButton($buttonAccentBg,$buttonAccentColor);
}

.form{@extend %formulaire;}
/* Construction des composants */
.jumbotron{
  @extend %jumbotron;
  background-image: url('../ressources/img/index/jumbotron.jpg');
  background-size: cover;
  p{
    padding: 30px;
    border-radius: 10px;
    color: $white
  }
}
.breadcrumb{
  @extend %breadcrumb;
  margin-top: 30px;
  margin-bottom: 30px;
}

input{
  @extend %btn;
  @extend %btn-lg;
}

.btn {
  @extend %btn;
}
.btn-sm{
  @extend %btn-sm;
}
.btn-lg{
  @extend %btn-lg;
}
.btn-x-lg{
  @extend %btn-x-lg;
}
.btn-flat{
  @extend %btn-flat;
  margin: 0;
  padding: 0;
  width: 25%;
  margin-right: -0.25em;
  height: 100%;
}
.btn-fancy{
  @extend %btn-fancy;
}

.btn-active {
  background-color: lightgreen;
}


/* Construction de la grille */
@for $cols from 1 through $numbCol {
    .span-#{$cols}-flex{@include make-col-flex($cols);}
    .span-#{$cols}-float{@include make-col-float($cols);}
}
@for $cols from 1 through $numbCol {
    .offset-#{$cols}-flex{@include make-offset-flex($cols);}
    .offset-#{$cols}-float{@include make-offset-float($cols);}
}
.row-flex{@extend %row-flex;}
.row-float{@extend %row-float;}


/* Construction de la navbar */
.navbar{
  @extend %navbar;
  .logo{@extend %logo;}
}
.disabled{@extend %disabled;}
.active{
  @extend %active;
}

.align-center{@extend %align-center;}
