@import "../bower_components/eCSSpress/dist/scss/reset";
@import "variablesCustom";
@import "../bower_components/eCSSpress/dist/scss/variables";

@import "../bower_components/eCSSpress/dist/scss/mixins";

@import "../bower_components/eCSSpress/dist/scss/grid";
@import "../bower_components/eCSSpress/dist/scss/typos";
@import "../bower_components/eCSSpress/dist/scss/code";
@import "../bower_components/eCSSpress/dist/scss/lists";
@import "../bower_components/eCSSpress/dist/scss/tables";
@import "../bower_components/eCSSpress/dist/scss/buttons";
@import "../bower_components/eCSSpress/dist/scss/components";
@import "../bower_components/eCSSpress/dist/scss/navigation";

h1{
  color: $accentColor;
}
/* Construction des boutons */
.btn{
  @extend %btn;
	@include colorizeButton($buttonNormalBg,$buttonNormalColor);
}

.btn-sm{@extend %btn-sm;}
.btn-lg{@extend %btn-lg;}
.btn-x-lg{@extend %btn-x-lg;}
.btn-flat{@extend %btn-flat;}
.btn-fancy{@extend %btn-fancy;}

.btn-red{@include colorizeButton($buttonRedBg,$buttonRedColor);}
.btn-yellow{@include colorizeButton($buttonYellowBg,$buttonYellowColor);}
.btn-green{@include colorizeButton($buttonGreenBg,$buttonGreenColor);}
.btn-blue{@include colorizeButton($buttonBlueBg,$buttonBlueColor);}
.btn-accent{@include colorizeButton($buttonAccentBg,$buttonAccentColor);}





/* Construction des elements codes specifiques */
.author{@extend %author;}
.result{@extend %result;}



/* Construction des composants */
.jumbotron{
  @extend %jumbotron;
  background-image: url('../ressources/img/index/jumbotron.jpg');
  background-size: cover;
  p{
    padding: 30px;
    border-radius: 10px;
    color: $white
  }
}


/* Construction de la grille */
@for $cols from 1 through $numbCol {
    .span-#{$cols}-flex{@include make-col-flex($cols);}
    .span-#{$cols}-float{@include make-col-float($cols);}
}
@for $cols from 1 through $numbCol {
    .offset-#{$cols}-flex{@include make-offset-flex($cols);}
    .offset-#{$cols}-float{@include make-offset-float($cols);}
}
.row-flex{@extend %row-flex;}
.row-float{@extend %row-float;}


/* Construction de la navbar */
.navbar{
  @extend %navbar;
  .logo{@extend %logo;}
}
.disabled{@extend %disabled;}
.active{@extend %active;}



/* Construction des barres de progression */
.progressionbar       {@include make-progressbar($progressionDefaultBackground);}
.progressionbar-red   {@include make-progressbar($progressionRedBackground);}
.progressionbar-yellow{@include make-progressbar($progressionYellowBackground);}
.progressionbar-green {@include make-progressbar($progressionGreenBackground);}
.progressionbar-blue  {@include make-progressbar($progressionBlueBackground);}
.progressionbar-accent  {@include make-progressbar($progressionAccentBackground);}


@for $status from 0 through 100 {
	.progressionbar-progress-#{$status}{@include make-progressbar-status($status);}
}
