@import "../bower_components/eCSSpress/dist/scss/reset";
@import "variablesCustom";
@import "../bower_components/eCSSpress/dist/scss/variables";

@import "../bower_components/eCSSpress/dist/scss/mixins";

@import "../bower_components/eCSSpress/dist/scss/grid";
@import "../bower_components/eCSSpress/dist/scss/typos";
@import "../bower_components/eCSSpress/dist/scss/code";
@import "../bower_components/eCSSpress/dist/scss/lists";
@import "../bower_components/eCSSpress/dist/scss/tables";
@import "../bower_components/eCSSpress/dist/scss/buttons";
@import "../bower_components/eCSSpress/dist/scss/components";
@import "../bower_components/eCSSpress/dist/scss/navigation";

.ingredient-item {
  background-color: $accentColor;
  color: $accentInvert;
  img{
    padding: 2px;
    width: 100%;
    height:80%;
  }
  box-shadow: 5px 5px 5px $boxShadowColor;
  a{
    text-decoration: none;
    font-weight: bold;
    color: $accentInvert;
  }
}



/* Construction de la grille */
@for $cols from 1 through $numbCol {
    .span-#{$cols}-flex{@include make-col-flex($cols);}
}
@for $cols from 1 through $numbCol {
    .offset-#{$cols}-flex{@include make-offset-flex($cols);}
}
.row-flex{@extend %row-flex;}

/* Construction de la navbar */
.navbar{
  @extend %navbar;
  .logo{@extend %logo;}
}
.disabled{@extend %disabled;}
.active{@extend %active;}

.breadcrumb{@extend %breadcrumb;}

.align-center{@extend %align-center};
