@import "../bower_components/eCSSpress/dist/scss/reset";
@import "variablesCustom";
@import "../bower_components/eCSSpress/dist/scss/variables";

@import "../bower_components/eCSSpress/dist/scss/mixins";

@import "../bower_components/eCSSpress/dist/scss/grid";
@import "../bower_components/eCSSpress/dist/scss/typos";
@import "../bower_components/eCSSpress/dist/scss/code";
@import "../bower_components/eCSSpress/dist/scss/lists";
@import "../bower_components/eCSSpress/dist/scss/tables";
@import "../bower_components/eCSSpress/dist/scss/buttons";
@import "../bower_components/eCSSpress/dist/scss/components";
@import "../bower_components/eCSSpress/dist/scss/navigation";
@import "../bower_components/eCSSpress/dist/scss/formulaire";

.header{
  @extend %header;
  background-size: cover;
  h1{
    width: 100%;
  }
  background-image: url('../ressources/img/commands/header.jpg');
}


.mainContainer{
	margin-top: 50px;
	img{
		width: 100%;
	}
}
h2{
  color: $accentColor;
}

.form{@extend %formulaire;}

.totalCommand{
	background-color: $accentColor;
	color: $accentInvert;
	padding: 10px;
}
.btn {
  @extend %btn;
}
.btn-sm{
  @extend %btn-sm;
}
.btn-lg{
  @extend %btn-lg;
}
.btn-x-lg{
  @extend %btn-x-lg;
}
.btn-flat{
  @extend %btn-flat;
  margin: 0;
  padding: 0;
  width: 25%;
  margin-right: -0.25em;
  height: 100%;
}
.btn-fancy{
  @extend %btn-fancy;
}

.btn-active {
  background-color: lightgreen;
}

.btn-accent{
  @include colorizeButton($buttonAccentBg,$buttonAccentColor);
}


.input{
  @extend %btn;
  @include colorizeButton($buttonAccentBg,$buttonAccentColor);
}


.btn-accent{@include colorizeButton($buttonAccentBg,$buttonAccentColor);}



/* Construction de la grille */
@for $cols from 1 through $numbCol {
    .span-#{$cols}-flex{@include make-col-flex($cols);}
}
@for $cols from 1 through $numbCol {
    .offset-#{$cols}-flex{@include make-offset-flex($cols);}
}
.row-flex{@extend %row-flex;}

/* Construction de la navbar */
.navbar{
  @extend %navbar;
  .logo{@extend %logo;}
}
.disabled{@extend %disabled;}
.active{@extend %active;}

.breadcrumb{@extend %breadcrumb;}

.align-center{@extend %align-center};
.align-right{@extend %align-right};

.inscription, .resume{
  @media screen and (max-width: $navbarMedium) {
      @include make-col-flex(10);
      @include make-offset-flex(1);
  }
}
