@charset "UTF-8";
/*CSS reset de Eric  Meyer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, span {
  box-sizing: border-box; }

/*======================================*/
/*=              Colors                =*/
/*======================================*/
/*Default color*/
/*======================================*/
/*=              Buttons               =*/
/*======================================*/
/*Color*/
/*Size*/
/*======================================*/
/*=       Code, quotes, kbd            =*/
/*======================================*/
/*codes*/
/*quotes*/
/*result*/
/*kbd*/
/*======================================*/
/*=             Components             =*/
/*======================================*/
/*Header*/
/*Jumbotron*/
/*Progressionbar*/
/*timeline*/
/*======================================*/
/*=             Grids                  =*/
/*======================================*/
/*Grids*/
/*======================================*/
/*=             Listes                 =*/
/*======================================*/
/*Listes*/
/*======================================*/
/*=              Navigation            =*/
/*======================================*/
/*Navbar*/
/*Breadcrumb*/
/*Paginition*/
/*======================================*/
/*=              Tables                =*/
/*======================================*/
/*Table*/
/*======================================*/
/*=              Tables                =*/
/*======================================*/
/*Titres*/
/*Sous titres*/
/*Paragraphes*/
/*Mark*/
/*======================================*/
/*=              Colors                =*/
/*======================================*/
/*Default color*/
/*======================================*/
/*=              Buttons               =*/
/*======================================*/
/*======================================*/
/*=              Buttons               =*/
/*======================================*/
/*Color*/
/*Size*/
/*======================================*/
/*=       Code, quotes, kbd            =*/
/*======================================*/
/*codes*/
/*quotes*/
/*result*/
/*kbd*/
/*======================================*/
/*=             Components             =*/
/*======================================*/
/*Header*/
/*Jumbotron*/
/*Progressionbar*/
/*timeline*/
/*======================================*/
/*=             Formulaire             =*/
/*======================================*/
/*======================================*/
/*=             Grids                  =*/
/*======================================*/
/*Grids*/
/*======================================*/
/*=             Listes                 =*/
/*======================================*/
/*Listes*/
/*======================================*/
/*=              Navigation            =*/
/*======================================*/
/*Navbar*/
/*Breadcrumb*/
/*Paginition*/
/*======================================*/
/*=              Tables                =*/
/*======================================*/
/*Table*/
/*======================================*/
/*=              Tables                =*/
/*======================================*/
/*Titres*/
/*Sous titres*/
/*Paragraphes*/
/*Mark*/
.row-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  width: 100%;
  flex-wrap: wrap; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.25em; }

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small, .sub {
  font-size: 12px;
  color: #797979; }

p {
  margin-bottom: 10px; }

mark {
  background-color: #797979; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  border-bottom: 1px dotted black;
  text-decoration: none; }

.align-center {
  text-align: center; }

blockquote, code {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
  display: block; }

blockquote {
  quotes: "“" "”" "‘" "’";
  line-height: 1.2em;
  border-radius: 0.2em;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
  blockquote:before {
    color: #DDDDDD;
    content: open-quote;
    font-size: 4em;
    float: left;
    height: 0.5em;
    line-height: initial;
    margin-right: 1rem; }
code {
  color: #303030;
  counter-reset: ligne;
  line-height: 1.2em;
  border-radius: 0.2em;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }
  code span {
    display: block;
    white-space: pre-wrap; }
    code span:before {
      border-right: 1px solid #ddd;
      display: inline-block;
      counter-increment: ligne;
      content: counter(ligne);
      margin-right: 5px;
      width: 2em;
      text-align: center; }

pre {
  width: 99%;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

kbd {
  color: #252525;
  font-size: 0.8em;
  padding: 4px;
  line-height: 2.4em;
  background-color: #ffffff;
  border-top: solid 2px #e6e6e6;
  border-right: solid 2px #b3b3b3;
  border-bottom: solid 2px #999;
  border-left: solid 2px #cccccc;
  border-radius: 4px; }
  kbd:hover {
    color: #222;
    background-color: #FAFAFA; }
  kbd:active, kbd.selected {
    border-top: solid 2px #999;
    border-right: solid 2px #cccccc;
    border-bottom: solid 2px #e6e6e6;
    border-left: solid 2px #b3b3b3; }

ul li {
  margin-left: 2em;
  display: list-item;
  list-style-type: disc; }

.navbar ul li, .breadcrumb li {
  list-style-type: none; }

/*Buttons Color*/
/*Buttons Size*/
/*Buttons Style*/
.header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-color: #E5E5E5;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  color: #ffffff; }
  .header small {
    margin-left: 5px;
    color: #eeeeee; }

.jumbotron {
  width: 100%;
  background-color: #E5E5E5;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%; }
  .jumbotron h1 {
    margin-bottom: 20px; }
  .jumbotron button {
    margin-top: 20px; }

.navbar {
  background-color: #2FA242;
  display: flex;
  flex-direction: column; }
  .navbar .logo {
    width: 20%;
    display: inline-block;
    min-height: 50px;
    line-height: 50px;
    padding-left: 10px; }
    .navbar .logo a {
      color: #ffffff;
      text-decoration: none; }
  @media screen and (min-width: 400px) {
    .navbar {
      flex-direction: row;
      justify-content: space-around; }
      .navbar li {
        border-bottom: none; }
      .navbar .active {
        border-bottom: solid 5px #1e672a;
        border-left: none; } }
  @media screen and (min-width: 400px) and (min-width: 900px) {
    .navbar {
      justify-content: flex-end; } }

  .navbar ul {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    min-height: 50px;
    line-height: 50px; }
    .navbar ul li {
      padding-left: 1em;
      padding-right: 1em;
      margin: 0;
      border-bottom: 1px solid #185322;
      text-align: center; }
      .navbar ul li:hover {
        background-color: #247a32; }
    .navbar ul .disabled {
      display: none; }
    .navbar ul .active {
      border-left: solid 5px #1e672a; }
    .navbar ul a {
      text-decoration: none;
      color: #ffffff; }
    @media screen and (min-width: 400px) {
      .navbar ul {
        flex-direction: row;
        justify-content: space-around; }
        .navbar ul li {
          border-bottom: none; }
        .navbar ul .active {
          border-bottom: solid 5px #1e672a;
          border-left: none; } }
  @media screen and (min-width: 400px) and (min-width: 900px) {
    .navbar ul {
      justify-content: flex-end; } }

.breadcrumb {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #E5E5E5;
  padding: 5px;
  color: #404040;
  border: 1px solid #b2b2b2;
  color: #404040; }
  .breadcrumb a {
    color: #404040;
    text-decoration: none; }
  .breadcrumb li {
    margin-right: 10px;
    margin-left: 0; }
  .breadcrumb li:after {
    content: ">";
    margin-left: 10px; }
  .breadcrumb li:last-of-type:after {
    content: ""; }

.image-ingredient {
  padding-top: 50px; }
  .image-ingredient img {
    width: 100%; }

.main-container {
  margin-top: 50px; }

/* Construction des composants */
.header {
  background-size: cover; }
  .header h1 {
    width: 100%; }

/* Construction de la grille */
.span-1-flex {
  box-sizing: border-box;
  width: 6.5%;
  margin-left: 2%; }
  .span-1-flex:first-of-type {
    margin-left: 0; }

.span-2-flex {
  box-sizing: border-box;
  width: 15%;
  margin-left: 2%; }
  .span-2-flex:first-of-type {
    margin-left: 0; }

.span-3-flex {
  box-sizing: border-box;
  width: 23.5%;
  margin-left: 2%; }
  .span-3-flex:first-of-type {
    margin-left: 0; }

.span-4-flex {
  box-sizing: border-box;
  width: 32%;
  margin-left: 2%; }
  .span-4-flex:first-of-type {
    margin-left: 0; }

.span-5-flex {
  box-sizing: border-box;
  width: 40.5%;
  margin-left: 2%; }
  .span-5-flex:first-of-type {
    margin-left: 0; }

.span-6-flex {
  box-sizing: border-box;
  width: 49%;
  margin-left: 2%; }
  .span-6-flex:first-of-type {
    margin-left: 0; }

.span-7-flex {
  box-sizing: border-box;
  width: 57.5%;
  margin-left: 2%; }
  .span-7-flex:first-of-type {
    margin-left: 0; }

.span-8-flex {
  box-sizing: border-box;
  width: 66%;
  margin-left: 2%; }
  .span-8-flex:first-of-type {
    margin-left: 0; }

.span-9-flex {
  box-sizing: border-box;
  width: 74.5%;
  margin-left: 2%; }
  .span-9-flex:first-of-type {
    margin-left: 0; }

.span-10-flex {
  box-sizing: border-box;
  width: 83%;
  margin-left: 2%; }
  .span-10-flex:first-of-type {
    margin-left: 0; }

.span-11-flex {
  box-sizing: border-box;
  width: 91.5%;
  margin-left: 2%; }
  .span-11-flex:first-of-type {
    margin-left: 0; }

.span-12-flex {
  box-sizing: border-box;
  width: 100%;
  margin-left: 2%; }
  .span-12-flex:first-of-type {
    margin-left: 0; }

.offset-1-flex {
  margin-left: 10.5%; }
  .offset-1-flex:first-of-type {
    margin-left: 8.5%; }

.offset-2-flex {
  margin-left: 19%; }
  .offset-2-flex:first-of-type {
    margin-left: 17%; }

.offset-3-flex {
  margin-left: 27.5%; }
  .offset-3-flex:first-of-type {
    margin-left: 25.5%; }

.offset-4-flex {
  margin-left: 36%; }
  .offset-4-flex:first-of-type {
    margin-left: 34%; }

.offset-5-flex {
  margin-left: 44.5%; }
  .offset-5-flex:first-of-type {
    margin-left: 42.5%; }

.offset-6-flex {
  margin-left: 53%; }
  .offset-6-flex:first-of-type {
    margin-left: 51%; }

.offset-7-flex {
  margin-left: 61.5%; }
  .offset-7-flex:first-of-type {
    margin-left: 59.5%; }

.offset-8-flex {
  margin-left: 70%; }
  .offset-8-flex:first-of-type {
    margin-left: 68%; }

.offset-9-flex {
  margin-left: 78.5%; }
  .offset-9-flex:first-of-type {
    margin-left: 76.5%; }

.offset-10-flex {
  margin-left: 87%; }
  .offset-10-flex:first-of-type {
    margin-left: 85%; }

.offset-11-flex {
  margin-left: 95.5%; }
  .offset-11-flex:first-of-type {
    margin-left: 93.5%; }

.offset-12-flex {
  margin-left: 104%; }
  .offset-12-flex:first-of-type {
    margin-left: 102%; }

.header {
  background-image: url("../../ressources/img/ingredients/cruditesHeader.jpg"); }

/*# sourceMappingURL=crudites.css.map */
