@import "../../bower_components/eCSSpress/dist/scss/reset";
@import "variablesCustom";
@import "../../bower_components/eCSSpress/dist/scss/variables";

@import "../../bower_components/eCSSpress/dist/scss/mixins";

@import "../../bower_components/eCSSpress/dist/scss/grid";
@import "../../bower_components/eCSSpress/dist/scss/typos";
@import "../../bower_components/eCSSpress/dist/scss/code";
@import "../../bower_components/eCSSpress/dist/scss/lists";
@import "../../bower_components/eCSSpress/dist/scss/tables";
@import "../../bower_components/eCSSpress/dist/scss/buttons";
@import "../../bower_components/eCSSpress/dist/scss/components";
@import "../../bower_components/eCSSpress/dist/scss/navigation";


.image-ingredient{
  img{
    width: 100%;
  }
  padding-top: 50px;
}

.main-container{
  margin-top: 50px;
}

/* Construction des composants */
.header{
  @extend %header;
  background-size: cover;
  h1{
    width: 100%;
  }
}
.jumbotron{ @extend %jumbotron;}



/* Construction de la grille */
@for $cols from 1 through $numbCol {
    .span-#{$cols}-flex{@include make-col-flex($cols);}
}
@for $cols from 1 through $numbCol {
    .offset-#{$cols}-flex{@include make-offset-flex($cols);}
}
.row-flex{@extend %row-flex;}

.navbar{
  @extend %navbar;
  .logo{@extend %logo;}
}
.disabled{@extend %disabled;}
.active{@extend %active;}

.breadcrumb{@extend %breadcrumb;}

.align-center{@extend %align-center};
